
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.addToCartBttn {
  background-color: transparent;
  border: 2px solid rgb(19, 19, 19);
  font-size: 14px;
  min-width: 100px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
}

footer {
  padding: 8px;
  text-align: center;
  /*position: fixed;*/
  bottom: 0;
  left: 0;
  right: 0;
}

/*body {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*}*/

main {
  flex-grow: 1;
  margin-bottom: 100px; /* Установить отступ снизу равный высоте футера */
}

footer {
  height: 70px;
  background-color: #ccc;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer a{
  text-decoration: none;
  color: black;

}