.create-device form {
    display: table;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/*p {*/
/*    display: table-row;*/
/*}*/

/*.create-device > label {*/
/*    display: table-cell;*/
/*}*/

/*.create-device > input {*/
/*    display: table-cell;*/
/*}*/